---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import '@styles/global.css';
import BaseLayout from '@layouts/BaseLayout.astro';
import { fmtDate } from '../../utils';

export const getStaticPaths = (async () => {
  const blogs = await getCollection('blog');
  return blogs.map(blog => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}) satisfies GetStaticPaths;

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<BaseLayout
  pageTitle={blog.data.title}
  description={`An article about ${blog.data.title}`}
>
  <nav
    class="px-4 font-noto-sans text-4xl font-light lowercase leading-normal tracking-[-0.1em] text-slate-800"
  >
    <a href="/blog/" transition:name="blog">Blog</a>
  </nav>

  <article class="max-w-3xl px-4">
    <h1
      class="pb-2 pt-16 font-noto-sans text-6xl font-light tracking-tighter text-slate-800"
      transition:name={blog.data.title}
    >
      {blog.data.title}
    </h1>

    <p class="text-sm uppercase">
      {fmtDate(blog.data.pubDate)} - {blog.data.author}
    </p>

    <div class="prose prose-slate max-w-none py-2">
      <Content />
    </div>
  </article>
</BaseLayout>
