---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import '@styles/global.css';
import BaseLayout from '@layouts/BaseLayout.astro';
import { fmtDate } from '../../utils';

export const getStaticPaths = (async () => {
  const blogs = await getCollection('blog');
  return blogs.map(blog => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}) satisfies GetStaticPaths;

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<BaseLayout
  pageTitle={blog.data.title}
  description={`An article about ${blog.data.title}`}
>
  <nav
    class="px-4 font-noto-sans text-2xl lowercase leading-normal tracking-tighter text-slate-800 hover:text-slate-300 md:px-4 md:text-6xl"
  >
    &#10094; <a href="/blog/" transition:name="blog">Blog</a>
  </nav>

  <article class="mx-auto flex flex-col px-4 md:max-w-4xl">
    <h1
      class="pb-6 pt-10 font-noto-sans text-5xl tracking-tighter text-slate-800 md:pb-8 md:pt-28 md:text-8xl"
    >
      {blog.data.title}
    </h1>

    <h2 class="text-sm uppercase md:text-base">
      {fmtDate(blog.data.pubDate)} - {blog.data.author}
    </h2>

    <div class="prose prose-slate max-w-none py-8 text-xs md:text-base">
      <Content />
    </div>
  </article>
</BaseLayout>
