---
import { getCollection } from 'astro:content';

import '@styles/global.css';
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';

import { fmtDate } from '../utils';

const pageTitle = 'Blog';

const blogs = await getCollection('blog');
---

<BaseLayout
  pageTitle={pageTitle}
  description="A list of all my blogs about software dev and computer science"
>
  <Header />
  <div class="px-4 py-4 font-noto-sans md:px-20">
    <ul class="flex flex-col gap-3 text-slate-800">
      {
        blogs.map(blog => (
          <li class="hover:text-slate-500">
            <a class="flex flex-col gap-2" href={`/blog/${blog.slug}/`}>
              <div class="md:text-xl">{blog.data.title}</div>
              <div class="hidden pl-8 text-sm md:block">
                {fmtDate(blog.data.pubDate)} - {blog.data.description}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
